/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: lightblue;
}

h1{
  text-align: center;
}

.container{
  width: 50rem;
  border: 1px solid white;
  margin: 0 auto;
  background-color: white;
}